/*-------------------------------------*\

  Declarations

  - Floris Jansen, id@fmjansen.nl

  styles.scss
  + Variables (colors and fonts)
  + Bies
  + Inputs
  + Footer
  + Imports

  ...

\*-------------------------------------*/





/*-------------------------------------*\
  Variables (colors and fonts)
\*-------------------------------------*/
$primary-accent: #ef686c;
$secondary-accent: #cc333f;

$primary-text: #000;
$secondary-text: #999;

$primary-background: #fff;
$secondary-background: #d8376c;

$font: 'Muli', Arial, sans-serif;
$font: 'Muli', Arial, sans-serif;

body {
  background-color: $primary-background;
  color: $primary-text;
  font-family: $font;
  margin: 0;
}

h1,
h2 {
  font-family: $font;
  font-weight: 800;
  max-width: 90%;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin: .5em auto;

  @media (min-width: 768px) {
    font-size: 6vw;
    margin-top: 0;
  }
}

h2 {
  margin: 2em auto 1em;
  text-align: center;
  font-size: 1.8em;
}





/*-------------------------------------*\
  Bies
\*-------------------------------------*/
// Holy bies
.bies {
  width: 100%;
  position: relative;
  padding-bottom: 1em;

  &__image {
    height: 80px;
    position: relative;
    z-index: 11;
    display: block;
    margin: 0 auto;

    @media (min-width: 768px) {
      margin: 0 0 0 2em;
    }

    @media (min-width: 1200px) {
      height: 7.5vw;
    }
  }
}
// Amen





.decl-form {
  transition: .2s ease opacity;

  /*-------------------------------------*\
    Rules (box for label + input)
  \*-------------------------------------*/
  &__rule {
    width: 44rem;
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background: lighten($primary-accent, 30%);

    &:nth-of-type(2n) {
      background: none;
    }
  }





  /*-------------------------------------*\
    Labels
  \*-------------------------------------*/
  &__question {
    flex-grow: 1;
    width: 10rem;
    max-width: 100%;
    display: block;
    padding: .8rem;
    margin: .2rem 0;
    box-sizing: border-box;
    line-height: 1.4;

    @media (min-width: 44rem) {
      text-align: right;
    }

    &--submit {
      margin: 1rem 0;
      padding: 1rem;
    }
  }





  /*-------------------------------------*\
    Inputs
  \*-------------------------------------*/
  &__answer {
    flex-grow: 1;
    width: 20rem;
    max-width: 100%;
    display: block;
    background: none;

    padding: .8rem;
    margin: .2rem 0;
    font-size: 1em;
    font-family: $font;
    border: 0;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;

    &:focus {
      border-bottom: 2px solid $primary-accent;
    }

    &--money::before {
      content: '€';
    }
  }






  /*-------------------------------------*\
    Comments
  \*-------------------------------------*/
  &__comment {
    padding: 0 .8rem 1rem;
    line-height: 1.4;
    color: #555;
  }





  /*-------------------------------------*\
    Buttons
  \*-------------------------------------*/
  &__submit {
    color: $primary-background;
    padding: 1rem 2rem;
    font-size: 1em;
    background: $primary-accent;
    border: 0;
    border-radius: 1px;
    width: 10rem;
    margin: 1rem 0;
    display: block;
    flex: 1;
    font-family: $font;
    font-weight: 800;
    cursor: pointer;
    line-height: 1;

    &:hover {
      background: darken($primary-accent, 5%);
    }
  }





  .pending {
    opacity: .5;
  }

  .error {
    color: $secondary-accent;
    background: lighten($secondary-accent, 47%);
    padding: 1em;
    line-height: 1.5;
    width: 44rem;
    max-width: 90%;
    margin: 1em auto;
    box-sizing: border-box;
  }

  .warning {
    color: #d4a322;
    background: lighten(#d4a322, 45%);
    padding: 1em;
    line-height: 1.5;
    width: 44rem;
    max-width: 90%;
    margin: 1em auto;
    box-sizing: border-box;
  }

  .success {
    color: #02a551;
    background: lighten(#02a551, 55%);
    padding: 1em;
    line-height: 1.5;
    width: 44rem;
    max-width: 90%;
    margin: 1em auto;
    box-sizing: border-box;
  }

  pre {
    background: #eee;
    color: #333;
    padding: .2em .4em;
    border-radius: .1em;
    display: inline-block;
    margin: 0;
  }
}





/*-------------------------------------*\
  Comments
\*-------------------------------------*/
.version {
  padding: 2em;
  text-align: center;
  color: #999;
  margin-top: 3em;
  margin-bottom: 1em;
}
